@tailwind base;
@tailwind components;

.section {
  @apply mb-8 xl:mb-32;
}

@tailwind utilities;

.usage-enter-active,
.usage-leave-active {
  transition: 1.6s cubic-bezier(0.23, 0.66, 0.08, 0.93);
  transform: translateX(0px);
  opacity: 1;
}

.usage-enter,
.usage-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}
